<div class="column is-full-tablet is-one-third-desktop portfolio-img">
    <figure class="image is-3by2 has-zoom" uk-toggle="target: #id-<%=galleryItem._id%>">
        <img src="<%=galleryItem.mainImageUrl%>" onerror="removeElement(this)">
        <div class="overlay">
            <div class="overlay-text has-text-weight-bold has-letter-spacing is-uppercase is-size-4">
              <%=galleryItem.hoverText%>
            </div>
        </div>
    </figure>
</div>

<!-- the modal view associated with the above gallery item -->
<div id="id-<%=galleryItem._id%>" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <div class="is-italic is-size-4">
                <%=galleryItem.hoverText%>
            </div>
        </div>
        <div class="uk-modal-body" uk-slideshow="animation: fade">
            <button class="uk-modal-close-outside" type="button" uk-close></button>

            <div class="columns">
                <div class="column is-three-quarters">
                    <ul class="uk-slideshow-items uk-child-width-auto" uk-height-match>
                        <!-- we have to manually add the thumbnail image in there -->
                        <li><img src="<%= galleryItem.mainImageUrl %>" alt="" uk-cover></li>

                        <% galleryItem.childrenImages.forEach((image) => { %>
                            <li> <img src="<%= image.url %>" alt="" uk-cover></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="column">
                    <div class="has-text-centered is-italic is-size-5 has-text-weight-lighti">
                        <%= galleryItem.fullDescription %>
                    </div>
                </div>
            </div>

            <div class="box">
                    <ul class="uk-thumbnav">
                        <!-- we have to manually add the thumbnail image in there -->
                        <li uk-slideshow-item="0">
                            <a href="#">
                                <img src="<%=galleryItem.mainImageUrl%>" width="50"  alt="">
                            </a>
                        </li>

                        <% galleryItem.childrenImages.forEach((image, i) => { %>
                            <li uk-slideshow-item="<%= i + 1 %>">
                                <a href="#">
                                        <img src="<%= image.url %>" width="50" alt="">
                                </a>
                            </li>
                        <% }); %>
                    </ul>
            </div>
        </div>
    </div>
</div>



